@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .section-timeline {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-self: center;
    }

    .timeline-line {
        @apply border-l-2 border-pink mt-8;
    }
    
    .timeline-point {
        @apply bg-pink w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-4 md:-mt-2;
    }

    .timeline-title {
        @apply text-very-dark-grey leading-5 font-semibold text-lg md:text-xl 2xl:text-2xl md:-mt-2 -mt-4 flex flex-wrap;
    }

    .timeline-container {
        @apply ml-6 mb-2 pb-6;    }

    .timeline-date {
        @apply inline-block text-middle-pink uppercase text-xs font-medium md:font-light md:text-base 2xl:text-lg;
    }

    .timeline-where {
        @apply inline-block text-red font-bold md:text-lg 2xl:text-xl leading-tight mr-2;
    }

    .timeline-what {
        @apply text-dark-grey mt-2 text-sm 2xl:text-base;
    }
}

.timeline {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 5em;
    margin-bottom: 1em;
}


@media (max-width: 850px) {
    .section-timeline {
        width: 80vw;
    }

    .timeline {
        margin-left: 1em;
        margin-right: 1em;
    }
}