@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .scroll-top {
    position: fixed;
    bottom: 3em;
    right: 48.5vw;
    background-color: transparent;
    z-index: 50;
  }

  .arrow {
    @apply w-8 h-8 text-center shadow-md animate-pulse stroke-white bg-pink px-1 py-1 rounded-full;
  }
}

@media (max-width: 900px) {
  .scroll-top {
    right: 45vw;
  }
}