.scroll-top {
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  background-color: transparent;
}

@media (max-width: 900px) {
  .scroll-top {
    bottom: 1em;
    right: 1em;
    z-index: 50;
  }
}
