@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* section about */
    .contact {
        height: auto;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 3em;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
    }

    .contact-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-mail,
    .contact-linkedin,
    .contact-github {
        margin-bottom: 1em
    }

}

@media (max-width: 768px) {
    .contact {
    margin-top: 0;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

}