.timeline {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    max-width: 650px;
    margin-left: 5em;
    margin-bottom: 1em;
}


@media (max-width: 850px) {
    .timeline {
        margin-left: 1em;
        margin-right: 1em;
    }
}