main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0 auto; */
}

.section__title {
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
}

@media (max-width: 850px) {

}


