@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}

html {
  scroll-behavior: smooth;
  background-color: #FCFCFC;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}